.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 86px !important;
  padding: 24px 12px;
  position: fixed;
  border-right: 1px solid #eee;
}

.sidebar__progress {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -1.5px;
  width: 2px;
  height: 0;
  background-color: crimson;
  pointer-events: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
